<div ng-init="doInit();">
    <ol class="breadcrumb" ng-hide="showSubmitMissionBtn()">
        <li>任务</li>
        <li class="active">任务详情</li>
    </ol>
    <ol class="breadcrumb" ng-show="showSubmitMissionBtn()">
        <li>我的</li>
        <li><a href="#/mine/missionAccept">我接受的任务</a></li>
        <li class="active">任务详情</li>
    </ol>
    <div class="well">
        <form class="form-horizontal" role="form" ng-submit="publishMissionForm()">
            <div class="form-group">
                <label for="missionTitle" class="col-sm-2 control-label">任务标题</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="missionTitle" placeholder="任务标题"
                           ng-model="mission.missionTitle"
                           required ng-disabled="{{mission.id != -1}}">
                </div>
            </div>
            <div class="form-group">
                <label for="missionDescription" class="col-sm-2 control-label">任务描述</label>

                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" id="missionDescription" placeholder="任务详细描述"
                              ng-model="mission.missionDescription" required
                              ng-disabled="{{mission.id != -1}}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="missionEndDate" class="col-sm-2 control-label">结束时间</label>

                <div class="col-sm-2">
                    <input type="text" class="form-control form_datetime" id="missionEndDate"
                           ng-model="mission.missionEndDate" readonly
                           required ng-disabled="{{mission.id != -1}}">
                </div>
            </div>
            <div class="form-group">
                <label for="missionWinningMode" class="col-sm-2 control-label">中标模式</label>

                <div class="col-sm-2">
                    <select class="form-control" id="missionWinningMode" ng-model="mission.missionWinningMode"
                            ng-disabled="{{mission.id != -1}}">
                        <option>单人中标</option>
                        <option>多人中标</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="missionMode" class="col-sm-2 control-label">任务模式</label>

                <div class="col-sm-2">
                    <select class="form-control" id="missionMode" ng-model="mission.missionMode"
                            ng-disabled="{{mission.id != -1}}">
                        <option>悬赏模式</option>
                        <option>训练模式</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="mission.missionMode == '悬赏模式'">
                <label for="missionReward" class="col-sm-2 control-label">悬赏金额</label>

                <div class="col-sm-2">
                    <input type="number" class="form-control" id="missionReward" ng-model="mission.missionReward"
                           ng-disabled="{{mission.id != -1}}">
                </div>
                <span> 元 </span>
            </div>
            <div class="form-group">
                <label for="missionData" class="col-sm-2 control-label">任务资料</label>

                <div class="col-sm-6">
                    <a href="{{mission.missionData}}" id="missionData">{{mission.missionDataName}}</a>
                </div>
            </div>
            <div class="form-group">
                <label for="missionPublisher" class="col-sm-2 control-label">任务创建人</label>

                <div class="col-sm-6">
                    <a href="" id="missionPublisher">{{missionPublisher.userName}}</a><!--todo 以后扩展查找用户发布其他任务-->

                    <p class="help-block">点击查看{{missionPublisher.userName}}发布的其他任务</p>
                </div>
            </div>
            <div class="form-group">
                <label for="missionStatus" class="col-sm-2 control-label">任务状态</label>

                <div class="col-sm-6" id="missionStatus">
                    <span ng-class="getStatusLabelClass('进行中')">进行中</span>-
                    <span ng-class="getStatusLabelClass('待审核')">待审核</span>-
                    <span ng-class="getStatusLabelClass('已结束')">已结束</span>
                </div>
            </div>
            <div class="form-group"
                 ng-show="showAcceptMissionBtn()">
                <div class="col-sm-offset-2 col-sm-2">
                    <a href="" ng-click="acceptMission()" class="btn btn-primary btn-block">接受任务</a>
                </div>
            </div>
            <div class="form-group" ng-show="showSubmitMissionBtn()">
                <div class="form-group">
                    <label for="missionSubmitData" class="col-sm-2 control-label">任务上传作品</label>

                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" ng-click="clickMissionSubmitData()"
                                data-loading-text="Loading...">选择文件
                        </button>
                        <input type="file" id="missionSubmitData" name="missionSubmitData" zip-file-on-change
                               ng-callback="uploadMissionSubmitData"
                               style="display:none"/>
                        <a href="{{missionUserRelationship.missionSubmitData}}">{{missionUserRelationship.missionSubmitDataName}}</a>

                        <p class="help-block">仅支持压缩包上传</p>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <a href="" ng-click="submitMission()" class="btn btn-primary btn-block">提交任务</a>
                </div>
            </div>
        </form>
    </div>
</div>