<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>About us - About us Page | Fashion - Free Website Template from Templates.com </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div class="tail-top">
		<div class="tail-bottom">
			<div id="main">
<!-- header -->
				<div id="header">
					<div class="row-1">
						<ul class="top-nav">
							<li><a href="home.html"><img alt="" src="images/icon-home.gif" /></a></li>
							<li><a href="contact_us.html"><img alt="" src="images/icon-mail.gif" /></a></li>
							<li><a href="site_map.html"><img alt="" src="images/icon-map.gif" /></a></li>
						</ul>
						<form action="" id="search-form"><fieldset>website search &nbsp; <input type="text" value="" class="text" /></fieldset></form>
					</div>
					<div class="row-2">
						<div class="indent">
							<a href="home.html"><img alt="" src="images/logo.jpg" /></a>
						</div>
					</div>
					<div class="row-3">
						<ul class="site-nav">
							<li><a href="home.html">Home</a></li>
							<li><a>需求大厅</a></li>
							<li><a href="articles.html">工作空间</a></li>
							<li><a href="contact_us.html">联系我们</a></li>
							<li><a href="site_map.html">站点地图</a></li>
						</ul>
					</div>
				</div>
<!-- content -->
				<div id="content">
					<div class="wrapper">
						<div class="col-1">
							<h2>About Your Team</h2>
							<ul class="team-list">
								<li>
									<img alt="" src="images/img2.jpg" />
									<h4><a href="#">Team Member One</a></h4>
									He is supposed to be the most important member of your team. Ususally this is the person who started the website. Maybe it is worth to write why he made such a desicion, what inspired him and what are his plans for the future.
								</li>
								<li>
									<img alt="" src="images/img3.jpg" />
									<h4><a href="#">Another Team Member</a></h4>
									We are completly lost on what he's responsible for but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here. If this person has his own website this is a good place to link to it...
								</li>
								<li>
									<img alt="" src="images/img4.jpg" />
									<h4><a href="#">The Last One Team Member</a></h4>
									We are completly lost on what he's responsible for but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here. If this person has his own website this is a good place to link to it...
								</li>
							</ul><div class="inner_copy"><div class="inner_copy">Find <a href="http://www.designfloat.com/" title="web design news">web design news at designfloat.com </a> </div></div>
						</div>
						<div class="col-2">
							<h2>About Your Website</h2>
							<p><img alt="" src="images/img5.jpg" /></p>
							This is an "About Us" page. You are supposed to fill it with some information on your website or your company. People usually write about history of the company or about the website - why it was created, when, etc. If there are more than one person who supports the website you may consider writning about each memeber of your team. 
						</div>
					</div><div class="inner_copy"><div class="inner_copy">Find <a href="http://www.designfloat.com/" title="web design news">web design news at designfloat.com </a> </div></div>
				</div>
<!-- footer -->
				<div id="footer">
					<div class="indent">
						<div class="fleft">More <a href="http://www.websitetemplatesonline.com" title="WTO - website templates and Flash templates">Free Web Templates</a> at WTO</div>
						<div class="fright">Copyright - Type in Your Name</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>