<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Article - Article Page | Fashion - Free Website Template from Templates.com </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div class="tail-top">
		<div class="tail-bottom">
			<div id="main">
<!-- header -->
				<div id="header">
					<div class="row-1">
						<ul class="top-nav">
							<li><a href="home.html"><img alt="" src="images/icon-home.gif" /></a></li>
							<li><a href="contact_us.html"><img alt="" src="images/icon-mail.gif" /></a></li>
							<li><a href="site_map.html"><img alt="" src="images/icon-map.gif" /></a></li>
						</ul>
						<form action="" id="search-form"><fieldset>website search &nbsp; <input type="text" value="" class="text" /></fieldset></form>
					</div>
					<div class="row-2">
						<div class="indent">
							<a href="home.html"><img alt="" src="images/logo.jpg" /></a>
						</div>
					</div>
					<div class="row-3">
						<ul class="site-nav">
							<li><a href="home.html">Home</a></li>
							<li><a href="about_us.html">About Us</a></li>
							<li><a href="articles.html">Articles</a></li>
							<li><a href="contact_us.html">Contact Us</a></li>
							<li><a href="site_map.html">Site Map</a></li>
						</ul>
					</div>
				</div>
<!-- content -->
				<div id="content">
					<h2>Article 1</h2>
					<div class="img-box">
						<img alt="" src="images/img9.jpg" />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare lobortis elit vel venenatis. Vivamus magna arcu, placerat in elementum quis, luctus et magna. Aenean pharetra ultrices nibh, eu tempor enim commodo eu. Mauris faucibus eros nec ligula molestie accumsan. Fusce tempus porttitor porta. In pellentesque suscipit ipsum nec tincidunt. Suspendisse eu risus ac felis commodo vehicula. Fusce placerat, nisl a pretium sollicitudin, odio ligula sagittis quam, vitae consectetur enim massa et urna.
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales erat ut lacus auctor aliquet. Sed tincidunt molestie neque, eu cursus urna dictum eu. Sed sed nisi neque, eget porttitor ligula. Quisque ut felis id urna hendrerit facilisis. Aliquam a nisl neque, vel euismod sem. Cras congue condimentum laoreet. Praesent sed felis id enim egestas tristique ut feugiat leo. Quisque vel lorem fermentum nisi interdum venenatis non pretium nibh. Suspendisse potenti. Nunc tempus rutrum dui, ut pulvinar erat accumsan faucibus. Integer accumsan ultrices ante, sit amet gravida augue luctus et.</p> 
					Pellentesque condimentum, eros a ornare eleifend, mi dui pretium elit, et tempor tortor turpis semper orci. Maecenas facilisis massa nec magna sagittis rhoncus id vitae elit. Pellentesque viverra aliquet arcu a sodales. Etiam in tincidunt nisl. Curabitur eget odio massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec semper tincidunt dui vel placerat. Phasellus vel eros euismod quam ultrices tristique molestie nec risus. Pellentesque nec eros mi, non molestie neque. In laoreet sollicitudin turpis. Praesent sed felis id enim egestas tristique ut feugiat leo. Quisque vel lorem fermentum nisi interdum venenatis non pretium nibh. Suspendisse potenti. Nunc tempus rutrum dui, ut pulvinar erat accumsan faucibus. 
					<div class="inner_copy">More <a href="http://www.templates.com/">Website Templates</a> @ Templates.com!</div>
				</div>
<!-- footer -->
				<div id="footer">
					<div class="indent">
						<div class="fleft">More <a href="http://www.websitetemplatesonline.com" title="WTO - website templates and Flash templates">Free Web Templates</a> at WTO</div>
						<div class="fright">Copyright - Type in Your Name</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>