<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Contact us - Contact us Page | Fashion - Free Website Template from Templates.com </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div class="tail-top">
		<div class="tail-bottom">
			<div id="main">
<!-- header -->
				<div id="header">
					<div class="row-1">
						<ul class="top-nav">
							<li><a href="home.html"><img alt="" src="images/icon-home.gif" /></a></li>
							<li><img alt="" src="images/icon-mail.gif" /></li>
							<li><a href="site_map.html"><img alt="" src="images/icon-map.gif" /></a></li>
						</ul>
						<form action="" id="search-form"><fieldset>website search &nbsp; <input type="text" value="" class="text" /></fieldset></form>
					</div>
					<div class="row-2">
						<div class="indent">
							<a href="home.html"><img alt="" src="images/logo.jpg" /></a>
						</div>
					</div>
					<div class="row-3">
						<ul class="site-nav">
							<li><a href="home.html">首页</a></li>
							<li><a href="task.html">需求大厅</a></li>
							<li><a href="articles.html">工作空间</a></li>
							<li><a>联系我们</a></li>
							<li><a href="site_map.html">站点地图</a></li>
						</ul>
					</div>
				</div>
<!-- content -->
				<div id="content">
					<h2>Contact Us</h2>
					<p>You are supposed to place some contact infromation on this page. You may place a map here with some instructions on how to get to your office or just a contact form. Note that the contact form below is not working.</p>
					<form id="contacts-form" action="" method="post">
						<fieldset>
						  <div class="field"><label>Your Name:</label><input type="text" value=""/></div>
						  <div class="field"><label>Your E-mail:</label><input type="text" value=""/></div>
						  <div class="field"><label>Your Website:</label><input type="text" value=""/></div>
						  <div class="field"><label>Your Message:</label><textarea cols="1" rows="1"></textarea></div>
						  <div class="wrapper"><a href="#" class="link1" onclick="document.getElementById('contacts-form').submit()"><em><b>Send Your Message!<span>Send Your Message!</span></b></em></a></div> 
						</fieldset>
					 </form>
				</div>
<!-- footer -->
				<div id="footer">
					<div class="indent">
						<div class="fleft">More <a href="http://www.websitetemplatesonline.com" title="WTO - website templates and Flash templates">Free Web Templates</a> at WTO</div>
						<div class="fright">Copyright - Type in Your Name</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>