<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Site map - Site map Page | Fashion - Free Website Template from Templates.com </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div class="tail-top">
		<div class="tail-bottom">
			<div id="main">	
<!-- header -->
				<div id="header">
					<div class="row-1">
						<ul class="top-nav">
							<li><a href="home.html"><img alt="" src="images/icon-home.gif" /></a></li>
							<li><a href="contact_us.html"><img alt="" src="images/icon-mail.gif" /></a></li>
							<li><img alt="" src="images/icon-map.gif" /></li>
						</ul>
						<form action="" id="search-form"><fieldset>website search &nbsp; <input type="text" value="" class="text" /></fieldset></form>
					</div>
					<div class="row-2">
						<div class="indent">
							<a href="home.html"><img alt="" src="images/logo.jpg" /></a>
						</div>
					</div>
					<div class="row-3">
						<ul class="site-nav">
							<li><a href="home.html">Home</a></li>
							<li><a href="about_us.html">About Us</a></li>
							<li><a href="articles.html">Articles</a></li>
							<li><a href="contact_us.html">Contact Us</a></li>
							<li><a>Site Map</a></li>
						</ul>
					</div>
				</div>
<!-- content -->
				<div id="content">
					<h2>Site Map</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare lobortis elit vel venenatis. Vivamus magna arcu, placerat in elementum quis, luctus et magna. Aenean pharetra ultrices nibh, eu tempor enim commodo eu. Mauris faucibus eros nec ligula molestie accumsan. Fusce tempus porttitor porta. In pellentesque suscipit ipsum nec tincidunt.</p>
					<ul class="list1">
						<li><a href="home.html">Home</a></li>
						<li><a href="about_us.html">About Us</a></li>
						<li><a href="articles.html">Articles</a>
							<ul>
								<li><a href="article.html">Article 1</a></li>
								<li><a href="article.html">Article 2</a></li>
								<li><a href="article.html">Article 3</a></li>
							</ul>
						</li>
						<li><a href="contact_us.html">Contact Us</a></li>
					</ul>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
				</div>
<!-- footer -->
				<div id="footer">
					<div class="indent">
						<div class="fleft">More <a href="http://www.websitetemplatesonline.com" title="WTO - website templates and Flash templates">Free Web Templates</a> at WTO</div>
						<div class="fright">Copyright - Type in Your Name</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>